$primary-light: #524fe1;
$primary-dark: #08033d;
$white: #ffffff;
$black: #000000;
$secondary-light: #b6b6f2;
$secondary-dark: #32eddf;

// -------------Prime------------
$prime-light: #eeedfc;
$prime-light-hover: #e5e5fb;
$prime-light-active: #c9c8f6;
$prime: #524fe1;
$prime-hover: #4a47cb;
$prime-active: #423fb4;
$prime-dark: #3e3ba9;
$prime-dark-hover: #312f87;
$prime-dark-active: #252465;
$prime-darker: #1d1c4f;

// -------------Grey------------
$grey-light: #f4f4f4;
$grey-light-hover: #efefef;
$grey-light-active: #dedede;
$grey: #959595;
$grey-hover: #868686;
$grey-active: #777777;
$grey-dark: #707070;
$grey-dark-hover: #595959;
$grey-dark-active: #434343;
$grey-darker: #343434;

// -------------Red------------
$red-light: #feeceb;
$red-light-hover: #fde3e1;
$red-light-active: #fac5c1;
$red: #f04438;
$red-hover: #d83d32;
$red-active: #c0362d;
$red-dark: #b4332a;
$red-dark-hover: #902922;
$red-dark-active: #6c1f19;
$red-darker: #541814;

// -------------Green------------
$green-light: #e7f3ee;
$green-light-hover: #dbede5;
$green-light-active: #b5d9c9;
$green: #118650;
$green-hover: #0f7948;
$green-active: #0e6b40;
$green-dark: #0d653c;
$green-dark-hover: #0a5030;
$green-dark-active: #083c24;
$green-darker: #062f1c;
