@import "./variables";

.about {
  background-color: rgb(255, 255, 255);
  color: $prime;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 2% 1% 2%;
    min-height: 90vh;
    position: relative;
    // flex-direction: row; /* Default layout for larger screens */

    .content {
      padding: 40px;
      border-radius: 20px;
      max-width: 65%;
      // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      h2 {
        font-size: 42px;
        margin-bottom: 10px;
        color: #5552e1;
      }
      p {
        margin-bottom: 20px;
        font-size: 20px;
        color: #1d1c4f;
        font-weight: 400;
        line-height: 32px;
        // text-align: justify;
      }

      .cards-wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr; // Default: single column for small screens
        gap: 20px; // Space between grid items

        .card {
          background-color: #fff;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          padding: 40px 20px 20px 20px;

          .card-top {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
              width: 30px;
              height: auto;
            }
            
            h3 {
              font-size: 18px;
              color: #5552e1;
            }
          }

          p {
            margin-bottom: 10px;
            font-size: 16px;
            color: #1d1c4f;
          }

          li {
            font-size: 16px;
            color: #1d1c4f;
            margin-bottom: 10px;
            text-align: justify;
          }

          .goal {
            padding: auto;
          }
        }

        // Responsive Layout for Tablets and Desktops
        @media (min-width: 768px) {
          grid-template-columns: 1fr 1fr; // Two columns for tablets and desktops
          grid-template-rows: auto auto; // Two rows

          .card.mission {
            grid-column: 1; // Place mission cards in the first column
          }

          .card.goal {
             grid-column: span 2 // Place goal card in the second column
            // grid-row: span 2; // Make it span both rows
          }
          .card.values {
            grid-column: 2; // Place goal card in the second column
            // grid-row: span 2; // Make it span both rows
          }
        }
      }
    }
  }
  @media (max-width: 1500px), (min-width: 1500px) {
    .container {
      flex-direction: row;

      h2 {
        font-size: 32px;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
      }

      p {
        margin-bottom: 30px;
        font-size: 14px;
        color: rgb(255, 255, 255);
      }

      form input,
      form textarea {
        width: 100%;
      }

      .content {
        flex: 4;
      }
    }
    .illustration {
      flex: 0.25;
      position: relative;
      width: 90%;
      max-width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: auto;
      // margin-left: -20%;

      .shapes {
        display: flex;
        gap: 40px;
        position: relative;
        // margin-left: 250px;
        z-index: 1;
      }

      .BytechsPurple img {
        width: 100%;
      }

      .BytechsPurple {
        opacity: 0;
        transform: translateY(50px);
        animation: fadeInUp 1s ease forwards;
        animation-delay: 0.5s;
      }

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translateY(50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  /* Responsive Adjustments */

  @media (max-width: 1024px) {
    .container {
      flex-direction: row;
      padding: 4% 5%;
      align-items: center;

      .content {
        max-width: 80%;
        padding: 30px;
      }

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 12px;
      }

      .illustration {
        margin-left: 0;
        max-width: 70%;
        .shapes {
          display: flex;
          gap: 20px;
          position: relative;
          margin-left: 3% 5%;
          z-index: 1;
        }

        .shapes {
          margin: 0;
          img {
            width: 90px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 5%;
      .content {
        flex: 1.2;
        padding: 20px;

        form input,
        form textarea {
          padding: 10px;
          font-size: 12px;
          width: auto;
        }
      }

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }

      .form-group {
        flex-direction: column;
      }

      .illustration {
        display: none;
        // flex: 1;
        // .shapes {
        //   margin: 1%;
        //   gap: 10px;
        //   img {
        //     width: 78px;
        //   }
        // }
      }
    }
  }

  @media (max-width: 480px) {
    .container {
      padding: 10%;
      min-height: auto;

      .content {
        padding: 15px;
        max-width: 90%;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 11px;
      }

      form button {
        font-size: 14px;
        padding: 10px;
      }

      .illustration {
        display: none;
      }
    }
  }
}
