@import "./variables";
/* =================================
   Footer
================================= */
footer {
  background-color: $white;
  text-align: center;
  padding: 15px;
  color: $prime-hover;
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .right-content{
      margin: 0;
      .align-right{
        text-align: center;
      }
    }
    
   .left-content {
      flex: 1;
      text-align: center;
      img{
        width: 90px;
        margin-right: 5px;
      }
    }

    .social-links {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      // background-color: aqua;

      img{
        width: 20px;
        transition: transform 0.2s ease-in-out;

      }
    }

    .right-content{
      flex: 1;
    }

     @media (max-width: 480px){
      p{
        font-size: 12px;
      }
     }
  }
}
