/* =================================
   Sections
================================= */
.section {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .content {
      z-index: 100;

      h1[data-en="COMING SOON ..."] {
        font-family: "29LT Zawi";
        opacity: 1;
        transition: opacity 1s ease;

        /* Visibility Class for Animation */
        h1[data-en="COMING SOON ..."].visible {
          opacity: 1;
        }
      }
    }
    /* =================================
      Progress Bar Animation
      ================================= */
    @keyframes progressAnimation {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }

    .progress-bar {
      position: relative;
      background-color: #8075f2;
      border-radius: 80px;
    }

    .progress-bar .progress {
      background-color: #70e1f5;
      height: 100%;
      border-radius: 80px;
      animation: progressAnimation 10s linear infinite;
    }

    .progress-bar span {
      position: relative;
    }
  }

  /* =================================
    Illustration Styling
    ================================= */
  .illustration {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

    .shapes {
      display: flex;
      position: relative;
      z-index: 1;
    }

    .shape {
      opacity: 0;
      transform: translateY(50px);
      animation: fadeInUp 1s ease forwards;
    }

    .shape-1 {
      animation-delay: 0.5s;
    }

    .shape-2 {
      animation-delay: 1s;
    }

    .shape-3 {
      animation-delay: 1.5s;
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  /* =================================
    Side Navigation
    ================================= */
  .side-nav {
    position: fixed;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
  }

  .side-nav .circle {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .side-nav .circle.active {
    opacity: 1;
  }

  .side-nav .circle.contact-active {
    background-color: #5552e1;
    opacity: 1;
  }
}

@media (max-width: 1500px) {
  .section {
    .container {
      padding: 3% 1%;
      min-height: 100vh;

      .content {
        width: 75%;

        .T1 {
          font-family: "29LT Zawi";
          font-weight: 400;
          font-size: 40px;
          width: auto;
          height: 34px;
          margin-bottom: -1%;
          line-height: 33.6px;
        }

        /* Styling for 'COMING SOON ...' Heading */
        h1[data-en="COMING SOON ..."] {
          font-weight: 700;
          font-size: 100px;
          line-height: 132px;
          text-align: left;
          width: 1000px;
          height: 132px;
          margin: 5% 7%;
        }

        /* =================================
      Progress Bar Animation
      ================================= */

        .progress-bar {
          width: 349px;
          height: 24px;
          margin-left: 30%;
          margin-bottom: 30px;
        }

        .progress-bar span {
          bottom: 120%;
          left: 105%;
          margin-right: 40%;
          font-size: 30px;
        }
      }

      /* =================================
    Illustration Styling
    ================================= */
      .illustration {
        width: 80%;
        max-width: 90%;
        margin-left: -25%;

        .shapes {
          gap: 30px;
          margin-left: 215px;
        }

        .shapes img {
          width: 100px;
        }
      }
    }
  }
}

/* Adjustments for tablets */
@media (max-width: 1024px) {
  .section {
    .container {
      padding: 3% 1%;
      min-height: 100vh;

      .content {
        width: 65%;

        .T1 {
          font-family: "29LT Zawi";
          font-weight: 400;
          font-size: 26px;
          width: auto;
          margin-bottom: -1%;
        }

        /* Styling for 'COMING SOON ...' Heading */
        h1[data-en="COMING SOON ..."] {
          font-weight: 700;
          font-size: 70px;
          line-height: 132px;
          text-align: left;
          width: 650px;
          margin: 0 10%;
        }

        /* =================================
      Progress Bar Animation
      ================================= */

        .progress-bar {
          width: 300px;
          height: 20px;
          margin-left: 25%;
          margin-bottom: 30px;
        }

        .progress-bar span {
          bottom: 110%;
          left: 105%;
          margin-right: 40%;
          font-size: 25px;
        }
      }

      /* =================================
    Illustration Styling
    ================================= */
      .illustration {
        width: 70%;
        max-width: 80%;
        margin-left: -28%;

        .shapes {
          gap: 20px;
          margin-left: 250px;
        }

        .shapes img {
          width: 90px;
        }
      }
    }
  }
}

/* Adjustments for mobile phones */
@media (max-width: 768px) {
  .section {
    .container {
      padding: 10% 3%;
      .content {
        // width: 65%;

        .T1 {
          font-family: "29LT Zawi";
          font-weight: 300;
          font-size: 24px;
          line-height: 1.2;
        }

        /* Styling for 'COMING SOON ...' Heading */
        h1[data-en="COMING SOON ..."] {
          font-weight: 700;
          font-size: 55px;
          width: 105%;
          margin-top: auto;
        }

        /* =================================
      Progress Bar Animation
      ================================= */
        .progress-bar {
          width: 200px;
          height: 20px;
          margin-left: 25%;
          margin-bottom: 30px;
          margin-right: 50%;
          margin-top: -30px;
        }

        .progress-bar span {
          bottom: 100%;
          left: 105%;
          margin-right: 50%;
          font-size: 22px;
        }
      }

      /* =================================
    Illustration Styling
    ================================= */
      .illustration {
        margin-left: -28%;

        .shapes {
          gap: 20px;
          margin-left: 250px;
        }

        .shapes img {
          width: 70px;
        }
      }
    }
  }
}

/* Adjustments for small mobile phones */
@media (max-width: 480px) {
  .section .container {
    padding: 30% 3% 10% 3%;
    width: 90%;
    flex-direction: column;
    .content {
      width: 100%;

      .T1 {
        font-family: "29LT Zawi";
        font-weight: 300;
        font-size: 16px;
        line-height: 1.2;
      }

      /* Styling for 'COMING SOON ...' Heading */
      h1[data-en="COMING SOON ..."] {
        font-weight: 500;
        font-size: 45px;
        line-height: 1.3;
        width: 105%;
        margin-top: auto;
        height: auto;
      }

      /* =================================
      Progress Bar Animation
      ================================= */
      .progress-bar {
        width: 200px;
        height: 20px;
        margin: 20px 50px; /* Centers the bar vertically */
        align-self: center; /* Aligns the progress bar to the left within centered container */
        align-items: center;
      }

      .progress-bar span {
        // bottom: 0%;
        left: 105%;
        margin-right: 60%;
        font-size: 22px;
        margin-bottom: 7%;
      }
    }

    /* =================================
    Illustration Styling
    ================================= */
    .illustration {
      margin-left: -65%;

      .shapes {
        gap: 20px;
        margin-left: 250px;
      }

      .shapes img {
        width: 70px;
      }
    }
  }
}
