nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000;

  /* Navigation Links and Buttons */
  a,
  .language-switch button {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  /* Logo Styles */
  .logo {
    margin-left: 10%;
    transition: 0.3s ease;
  }

  /* Light Mode Navigation Styles */
  .light-mode a,
  .light-mode .burger-menu .burger-links a {
    color: #000000;
  }

  .light-mode .burger-icon span {
    background-color: #000000;
  }

  .light-mode .language-switch button {
    color: #5552e1;
  }

  .light-mode .language-switch button.active {
    color: #000000;
  }
}

@media (max-width: 1500px) {
  nav {
    img.logo {
      height: 95px;
      width: 199px;
    }

    /* Navigation Links */
    .nav-links {
      list-style: none;
      display: flex;
      gap: 50px;
      margin-right: auto;
      margin-top: 30px;
    }

    .nav-links a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 18px;
    }

    /* Language Switch Container */
    .language-switch {
      display: flex;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 4px;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      width: fit-content;
    }

    /* Language Switch Button */
    .language-switch button {
      background: none;
      background-color: transparent;
      border: none;
      padding: 15px;
      border-radius: 21px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      font-family: "29LT ZawiBold";
      text-align: center;
      transition: background-color 0.3s ease, color 0.3s ease;
      outline: none;
    }

    /* Active Button State */
    .language-switch button.active {
      background-color: rgb(255, 255, 255);
      color: #5552e1;
    }

    /* Hover State for Inactive Buttons */
    .language-switch button:not(.active):hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .burger-menu {
      display: none;
    }
  }
}

/* Adjustments for tablets */
@media (max-width: 1024px) {
  nav {
    img.logo {
      height: auto;
      width: 155px;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 50px;
      margin-right: auto;
      margin-top: 30px;
    }

    .nav-links a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 16px;
    }

    /* Language Switch Container */
    .language-switch {
      display: flex;
      background-color: rgba(0, 0, 0, 0.05);
      padding: 3px;
      border-radius: 25px;
      overflow: hidden;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      width: fit-content;
    }

    /* Language Switch Button */
    .language-switch button {
      background: none;
      background-color: transparent;
      border: none;
      padding: 15px;
      border-radius: 21px;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      font-family: "29LT ZawiBold";
      text-align: center;
      transition: background-color 0.3s ease, color 0.3s ease;
      outline: none;
    }

    .language-switch button.active {
      background-color: rgb(255, 255, 255);
      color: #5552e1;
    }

    .language-switch button:not(.active):hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .burger-menu {
      display: none;
    }
  }
}

/* Mobile Screens */
@media (max-width: 768px) {
  nav {
    img.logo {
      height: auto;
      width: 140px;
    }

    .nav-links {
      display: none;
    }

    .language-switch {
      display: none;
    }

    .burger-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      cursor: pointer;

      .burger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;

        span {
          display: block;
          width: 100%;
          height: 3px;
          background-color: rgb(255, 255, 255);
          border-radius: 3px;
          transition: all 0.3s ease;
        }

        /* Burger Menu Toggle Animation */
        .active .burger-icon span:nth-child(1) {
          transform: translateY(6px) rotate(45deg);
        }

        .active .burger-icon span:nth-child(2) {
          opacity: 0;
        }

        .active .burger-icon span:nth-child(3) {
          transform: translateY(-6px) rotate(-45deg);
        }
      }

      /* Burger Menu Links */
      .burger-links {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #5843ed;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        width: 90%;

        .language-switch {
          display: flex; /* Hidden by default on larger screens */

          button {
            background: none;
            background-color: transparent;
            border: none;
            padding: 15px;
            border-radius: 21px; /* Slightly less than container to account for padding */
            cursor: pointer;
            font-size: 12px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            font-family: "29LT ZawiBold";
            text-align: center;
            transition: background-color 0.3s ease, color 0.3s ease;
            outline: none;
          }

          /* Active Button State */
          button.active {
            background-color: rgb(255, 255, 255);
            color: #5552e1;
          }

          /* Hover State for Inactive Buttons */
          button:not(.active):hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }

      .burger-links li {
        list-style: none;
      }

      .burger-links a,
      .burger-links button {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 18px;
      }
    }

    .burger-menu.active .burger-links {
      display: flex;
    }
  }
}

@media (max-width: 480px) {
  nav {
    .burger-menu {
      /* Burger Menu Links */
      .burger-links {
        top: 70px;
        width: 90%;
      }
    }
  }
}
