/* =================================
   News Section
================================= */
.news {
  background-color: #5843ed;
  padding: 120px 5%;
  color: #ffffff;

  .news-title {
    font-size: 50px;
    font-weight: 800;
    text-align: left;
  }

  .news-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .carousel-wrapper {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
      }

      .carousel-slide {
        flex: 0 33.33%;
        opacity: 0.5;
        transform: scale(0.8);
        transition: transform 0.5s ease, opacity 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
      }

      .carousel-slide img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      .carousel-slide.active {
        opacity: 1;
        transform: scale(1);
      }

      .carousel-slide.prev,
      .carousel-slide.next {
        opacity: 0.75;
        transform: scale(0.8);
      }
    }
    .arrows {
      display: flex;
      justify-content: center;
      align-items: center;

      .arrow {
        background: none;
        border: none;
        font-size: 2rem;
        color: #e1e1e8;
        cursor: pointer;
        position: absolute;
        // top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        padding: 0 15px;
      }
    }

    .left-arrow {
      left: 45%;
    }

    .right-arrow {
      right: 45%;
    }
  }

  .news-content {
    .event-title {
      color: #5552e1;
      font-size: 18px;
      margin-top: 25px;
    }

    .event-content {
      padding: 3%;
      font-size: 14px;
      line-height: 1.5;
      text-align: justify;
    }

    .event-date {
      padding: 0 3%;
      text-align: right;
      color: #888888;
      font-size: 11px;
    }
  }

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 480px) {
  }
}
