.quiz-container{
  // min-height: 80vh;
  font-family: "IBM Plex Sans Arabic";
}
.quiz-wrapper {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  background-color: white;
  // align-items: center;

  .quiz-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;

    .robot-img {
      width: 250px;
      max-width: 100%;
    }
  }

  .quiz-divider {
    position: relative;
    width: 8px;
    background-color: #e5e7eb;
    // border-radius: 6px;
    // margin-inline: 1rem;

    .progress-line {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #4f46e5;
      transition: height 0.4s ease;
      // border-radius: 6px;
    }
  }

  .quiz-right {
    width: 52%;
    padding: 3rem 2rem;
    background-color: #f9fafb;

    h3 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #111827;
    }

    .question-text {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 2rem;
      color: black;
    }
    .answer-text {
      font-size: 1.1rem;
      // font-weight: 900;
      color: #706D6D;
    }

    .answer-option {
      display: flex;
      justify-content: right;
      align-items: center;
      background-color: #fff;
      // border: 2px solid #e5e7eb;
      border-radius: 0.75rem;
      padding: 1rem 2rem;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;

      &:hover {
        border-color: #4f46e5;
        background-color: #eef2ff;
      }

      &.selected {
        background-color: #4f46e5;
        color: white;
        border-color: #4f46e5;

        .letter{
          background-color: #4f46e5;
          color: white;
        }

        .answer-text{
          color: white;
        }
      }

      .letter {
        background: white;
        color: #706D6D;
        border-radius: 999px;
        font-weight: bold;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -25px;
      }
    }

    .error-text {
      color: #dc2626;
      font-weight: 500;
      margin-top: 1rem;
    }
  }
}
