.side-nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.circle.dark {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.circle.unactive.light {
  background-color: #8483bd; /* Active color on light background */
}

.circle.active.light {
  background-color: #5552e1; /* Active color specifically on light */
}
